{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
{% block description %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
<link href="{% static 'styles/dest/main.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static styles_url %}" rel="stylesheet" type="text/css" />
<script src="{% static 'scripts/dest/main.js' %}" type="module"></script>
<script src="{% static scripts_url %}" type="module"></script>
</head>
<body>
<div id="main">
{% include  'layouts/header/header.html' %}
<div id="wrapper">
  {% block content %}{% endblock %}
</div>
<div id="footer">

</div>
</div>

</body>
</html>