{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>
    {% block description %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link href="{% static 'styles/dest/main.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static styles_url %}" rel="stylesheet" type="text/css"/>
{#    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"#}
{#          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>#}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <script src="{% static 'scripts/dest/main.js' %}" type="module"></script>
    <script src="{% static scripts_url %}" type="module"></script>
</head>
<body>
<div id="main">
    {% include  'layouts/header/header.html' %}
    <div id="wrapper">
        {% include 'layouts/sidebar/sidebar.html' %}
        {% block content %}{% endblock %}
    </div>
    <div id="footer">

    </div>
</div>

</body>
</html>