#side_bar_container {
  transition: width .5s linear;
  width: 16vw;
  height: calc(100vh - 64px);
  box-shadow: 2px 3px 7px #212121;
  background-color: #787878;
  color: #fff;
  padding: 1em 1em;
  .menu_area {
    .one_menu_element {
      display: flex;
      height: 3em;
      font-size: 1.2em;
      justify-content: space-between;
      align-items: center;
      border-bottom: solid 1px #fff;
      .left_side {
        display: flex;
        align-items: center;
        .icon_area{
          margin: 0 .5em;
          font-size: 1.5em;
          i{
            text-shadow: 1px 1px 3px #000000;
          }
        }
      }
    }
  }
  &.collapsed{
    width: 64px;
    transition: width .5s linear;
    .menu_area{
      .one_menu_element{
        .left_side {
          .icon_area{
            margin-left: 0;
            margin-right: 0;
            font-size: 1.6em;
            transition: margin-right 2s linear;
          }
          .main_element_text{
            transition: opacity .5s linear ;
            opacity: 0;
          }
        }
        .open_close_sub_menu{
          transition: opacity .5s linear ;
            opacity: 0;
        }
      }
    }

  }
}