@import "../../node_modules/bootstrap/scss/bootstrap";
 html, body{
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 100vw;
   #main {
     @import "components/main_header";
     #wrapper {
       @import "components/sidebar/sidebar";
       min-height: calc( 100vh - 64px );
       position: relative;
     }
   }
}
