$background-image-pattern : '../../images/bg/bg_pattern_opasity.png';
$backgroung-image : '../../images/bg/bg.jpg';
$main-header-heigth : 54px;
$box-color : #010709 ;
$borders-color : #b1b1b1;
$text-main-color : #b1b1b1;