<div id="side_bar_container">
    <div class="menu_area">
        {% for i in '1234'|make_list %}
        <div class="one_menu_element">
            <div class="left_side">
                <div class="icon_area">
                    <i class="bi bi-truck"></i>
                </div>
                <div class="main_element_text">
                    tempus
                </div>
            </div>
            <div class="open_close_sub_menu">
                <i class="bi bi-caret-up-fill"></i>
            </div>
        </div>
        {% endfor %}
    </div>
</div>